.Button{
    font-family: 'Roboto Condensed';
    font-style: normal;
}

.Button:hover{
    cursor: pointer;
}

.btn-Big{
    width: 40%;
    padding: 1% 6%;
    text-align: center;
    background-color: var(--color-yellow);
    font-weight: bold; 
    font-size: 2.25rem;

    border: 0.15rem solid  var(--color-dark-purple);
    box-shadow: 7px 7px 4px var(--color-dark-purple);
}

.btn-Small{
    width: 15%;
    min-width: fit-content;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    text-align: center;
    background-color: var(--color-dark-purple);
    font-weight: 600; 
    font-size: 1.5rem;
    color: var( --color-white);

    border: 0.15rem solid  var(--color-black);
    box-shadow: 4px 4px 3px var(--color-yellow);
}
