h1{
    font-family: 'Russo One';
    color: var(--color-dark-blue);
    font-size: 4.625rem;
    text-shadow: 0.25rem 0.25rem 0rem var(--color-purple);
}
h2{
    font-family: 'Roboto Condensed';
    font-weight: bold;
    font-size: 2.25rem;
    letter-spacing: -0.0938rem;
}

h3{
    font-family: 'Roboto Condensed';
    font-weight: 600;
    font-size: 1,5rem;
    letter-spacing: -0.0938rem;
}

p{
    font-family: 'HelveticaNeueCyr';
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 190%;
}